.buttons {
    margin: 200px;
}

.button {

    border-radius: 70px;
    padding: 16px 19px 17px 19px;
    margin-right: 100px;
    text-decoration: none;
    background: #ffc909;
    color: #FFFFFF;
}
