
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.conteiner{
    width: 1280px;
    margin: 0 auto;
}

.hero{
    justify-content: space-between;
    padding-top: 63px;
}

.deepskyblue-text{
    color: deepskyblue;
}

.hero-logo{
    font-size: 80px;
    text-decoration: none;
    color: black;
}

.inline-menu {
    display: flex;
    justify-content: center;
    height: 72px;
    background: #35444F;
    margin-top: 38px;
    margin-bottom: 48px;
}

.nav-menu-link {
    display: flex;
    padding: 26px 40px 19px 40px;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 24px;
}


.inline-menu-item {
    border-left: 1px solid #ffffff;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.list-menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 54px;
}

.vertical-menu {
    width: 342px;
    height: 397px;
    border: 1px solid #000000;
}

.vertical-menu-link {
    display: flex;
    padding: 25px 44px 25px 44px;
    color: #485863;
    font-size: 27px;
    line-height: 27px;
    text-decoration: none;
}

.content {
    width: 885px;
}

.image-title{
    width: 883px;
    height: 527px;
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
}

.image{
    padding-top: 75px;
    padding-bottom: 75px;
}

.text{
    color: #2C2C2C;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    padding-top: 35px;
}

.ending{
    display: flex;
    justify-content: center;
    border-bottom: 30px;
}

.ending-menu{
    display: flex;
    justify-content: space-between;
    background: rgba(99, 105, 110, 0.48);
}

.ending-block-menu{
    display: flex;
    justify-content: space-between;
    width: 928px;
    align-items: center;
    height: 69px;
    padding-left: 40px;
}

.ending-block-list{
    color: #0C1927;
    font-size: 28px;
    line-height: 28px;
    text-decoration: none;
}

.copyright {
    padding-right:40px ;
    display: flex;
    color: #010101;
    font-size: 24px;
    line-height: 24px;
   align-items: center;
}
