* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.nav-menu-conteiner{
    width: 1280px;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
}


.nav-menu-item{
    display: inline-block;
}

.nav-menu-link{
    font-size: 20px;
    font-weight: bold;
    letter-spacing:2.4px;
    padding: 25px 25px;
    text-decoration: none;
color:red;
}

.main{
    width: 1280px;
    margin: 0 auto;
}


.pictures {
    width: 100%;
}


.main-conteiner{
    width: 1280px;
    margin: 0 auto;
}

.main-heading{
    word-spacing: 7px;
    padding: 25px 25px;
    text-align: center;
    letter-spacing:2.4px;
    color: #373737;
}

.main-center{
    Font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing:1.4px;
    padding: 25px 30px;
    color: #373737
}

.main-end{
    Font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing:1.4px;
    padding: 25px 30px;
    margin-bottom: 20px;
    color: #373737
}

.square-conteiner{
    width: 191px;
    margin: 0 auto;
}

.active-text{
    text-align: center;
    letter-spacing:2.4px;
    line-height:50px;
    border-radius: 5px;
    color: #ffffff;
    background:red;
    margin-bottom: 20px;

}

.square-block{
    text-decoration: none;

}

.content-last-container{
    width: 1280px;
    margin: 0 auto;
}

.text-right{
    padding: 30px;
    text-align: right;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    letter-spacing:2.4px;
    margin-bottom: 5px;
    margin-right: 150px;
    color: #373737;
}




