
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.conteiner{
    width: 1145px;
    margin: 0 auto;
}
.nav-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.nav-menu-link {
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing:2.4px;
    padding-left: 36px;
    padding-right: 36px;
    color:red;
}

.pictures {
    width: 100%;
}

.content {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.main-heading {
    word-spacing: 7px;
    padding: 25px 25px;
    letter-spacing:2.4px;
    color: #373737;
}

.main-center {
    Font-size: 16px;
    line-height: 26px;
    letter-spacing:1.4px;
    padding-bottom: 28px;
    color: #373737
}

.main-end {
    Font-size: 16px;
    line-height: 26px;
    letter-spacing:1.4px;
    margin-bottom: 20px;
    color: #373737
}

.button {
    display: inline-block;
    padding: 18px 43px 18px 43px;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    text-decoration: none;
    border-radius: 4px;
    border: 1px solid #FF0000;
    color: #FFFFFF;
    background: #FF0000;
}

.ending-text {
    text-align: right;
    margin-top: 82px;
    margin-bottom: 29px;
}
.text-right {
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    letter-spacing:2.4px;
    color: #373737;
}
