.loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: rgba(0, 0, 0, 0.3);
}
.loader::before {
    content: '';
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 10px solid greenyellow;
    /*border-left: none;*/
    border-left-color: transparent;
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    transform: rotate(0deg);
    animation: 1s linear infinite spinner;
}
@keyframes spinner {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}
